.popup-success {
  .medium ();
  font-size: 25px;
  line-height: 43px;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 728px;
  height: 444px;
  box-sizing: border-box;
  background-color: #fbf8f8;
  display: none;
  margin: 0 auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &.popup--open {
    display: flex;
  }
}

@media (min-width: @mobile-width) and (max-width: @extremum-tablet-width) {
  .popup-success {
    width: @mobile-width;
    min-height: 568px;
  }
}
